# Ignorar archivos y carpetas de versiones anteriores
.vscode/
Copias de codigo de versiones anteriores/
Web/
CRUD.py
Aplication/

# Ignorar archivos específicos dentro de Aplication/
Aplication/inicioscreen2.dart
Aplication/inicioscreen3.dart
Aplication/inicio_screen2.dart
Aplication/login_ant.dart
Aplication/main1.dart

# Ignorar archivos comprimidos
*.zip


# Ignorar styles.css específico
/Pagina Dacky/static/css/styles.css